*.iml
.gradle
/local.properties
/.idea
/.agent
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/app/build
/build-logs
/.kotlin
/captures
.externalNativeBuild
.cxx
local.properties
test_output.txt
